Repository doitsujin/dxvk, pull requests merged in 2025-06, with the labels that each got.

#4986 [d3d9] Only show unsupported vendor hack warnings once
  src/d3d9/d3d9_device.cpp
Labels: d3d9

#5015 [d3d8/9] Clean up CheckDeviceFormat and CreateImageSurface formats
  src/d3d8/d3d8_device.cpp
  src/d3d8/d3d8_format.h
  src/d3d8/d3d8_interface.h
  src/d3d9/d3d9_adapter.cpp
  src/d3d9/d3d9_adapter.h
  src/d3d9/d3d9_bridge.cpp
  src/d3d9/d3d9_bridge.h
  src/d3d9/d3d9_device.cpp
  src/d3d9/d3d9_format.cpp
  src/d3d9/d3d9_format.h
Labels: d3d9, d3d8

#5041 [d3d9] Add more known unsupported formats
  src/d3d9/d3d9_format.cpp
  src/d3d9/d3d9_format.h
Labels: d3d9

#5039 [d3d9] Fix NULL format CheckDeviceMultiSampleType behavior
  src/d3d9/d3d9_adapter.cpp
Labels: d3d9

#5059 Dcomp swapchain
  src/dxgi/dxgi_factory.cpp
  src/dxgi/dxgi_swapchain.cpp
Labels: dxgi

#5062 [d3d9] Only use readonly depth layout if necessary
  src/d3d9/d3d9_common_texture.cpp
  src/d3d9/d3d9_common_texture.h
  src/d3d9/d3d9_device.cpp
Labels: d3d9

#5063 Add missing ID3DDestructionNotifier support in DXGI
  src/dxgi/dxgi_adapter.cpp
  src/dxgi/dxgi_adapter.h
  src/dxgi/dxgi_factory.cpp
  src/dxgi/dxgi_factory.h
  src/dxgi/dxgi_output.cpp
  src/dxgi/dxgi_output.h
Labels: dxgi
